body{
  font-size: 19.5px;
  margin: 0px;
  background-color: black;
}
h1{
  font-size: 45px;
  text-align: center;
  margin: 0px;
  border-bottom: solid gray 1px;
  padding: 12px;
}
a{
  color: powderblue;
  text-decoration: none;
}
#article{
  text-align: center;
  color: white;
}
ol{
  color: white;
}
strong{
  color: yellow;
}
li{
  margin: 10px;
}
